<section class="mt-5 bg-primary text-white mb-0" id="edit article">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Edit an article</h2>
    <%= render "form" %>
  </div>
</section>