<div class="container">
  <h2 class="text-center"><%= @article.title %></h2>
  <p class="lead"><%= @article.description%></p>
  <%= link_to "Back to article list", articles_path %>
  <%= link_to "Edit this article", edit_article_path(@article) %>
</div>
