<section class="mt-5 bg-primary text-white mb-0" id="article <%= @article.id %>">
    <div class="container">
        <h2 class="text-center text-uppercase text-white"><%= @article.title %></h2>
        <hr class="star-light mb-5">
        <p class="lead"><%= @article.description%></p>
    </div>
</section>