@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('rails.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 63px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
  padding: 6px 12px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
